$blackColor: #1E1B1B;
$primaryColor: #FF6433;
$secondaryColor: #661CE7;
$mintColor: #00D289;
$steelGray: #E2E6E9;
$lightGray: #F2F2F2;
$greyColor: #939191;

h1{
  font-size: 64px;
}
h2{
  font-size: 58px;
}
h3{
  font-size: 48px;
}
h4{
  font-size: 40px;
}
h5{
  font-size: 32px;
}
h6{
  font-size: 20px;
}

@media only screen and (max-width: 999px) {
  h1{
    font-size: 54px;
  }
  h2{
    font-size: 48px;
  }
  h3{
    font-size: 38px;
  }
  h4{
    font-size: 30px;
  }
  h5{
    font-size: 22px;
  }
  h6{
    font-size: 16px;
  }
}
@media only screen and (max-width: 600px) {
  h1{
    font-size: 48px;
  }
  h2{
    font-size: 42px;
  }
  h3{
    font-size: 32px;
  }
  h4{
    font-size: 28px;
  }
  h5{
    font-size: 18px;
  }
  h6{
    font-size: 16px;
  }
}